body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: courier;
}

.header {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px;
    padding-top: 1px;
    text-align: left;
    padding-left: 4%;
    padding-bottom: 1px;
}

h1 {
    display: block;
    font-size: 2em;
}

.space {
    margin: 10%;
}

.logo {
    width: 40%;
    margin: auto;
    border: solid;
    padding: 5%;
    text-shadow: -3px 0 4px #006;
}

td {
    padding: 15px;
}

table {
    padding-left: 2%;
}

a {
    text-decoration: none;
    font-size: 100%
}

.container {
    width: 30%;
    margin: auto;
    padding: 4%;
    font-family: courier;
    /* border: solid; */
}

.heading {
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    padding-bottom: 4%;
}

.sec-heading {
    font-weight: bold;
    text-align: center;
    padding-bottom: 4%;
    text-orientation: inherit;
    /* font-family: courier; */
    font-size: 100%;
}

.form-body {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: courier;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: courier;
}

input[type=submit] {
    width: 100%;
    background-color: rgba(51, 142, 226, 0.761);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: courier;
}

input[type=submit]:hover {
    background-color: #46c3e9;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.asked-qn-heading {
    font-weight: bold;
    font-size: 120%;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
}

.user-profile {
    width: 13%;
    padding-right: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: inherit;
    padding: 2%;
    background-color: #f2f2f2;
    margin-left: 2%;
    height: 20%;
}

.questions-div {
    width: 50%;
    text-align: left;
    /* border: solid; */
    margin-right: 3%;
    margin-left: 3%;
}

.qn-heading {
    font-weight: bold;
    font-size: 150%;
    padding: 1% 0% 1% 2%;
}

.question-content {
    /* display: flex; */
    /* flex-direction: column; */
    width: 30%;
    margin-right: 3%;
    padding-top: 2%;
}

p {
    font-weight: bold;
}

.profile-heading {
    font-weight: bold;
    font-size: 150%;
    /* padding: 1% 0%; */
    font-style: italic;
}

.answers-sector li {
    padding-bottom: 4%;
}

h4 {
    text-align: right;
}

p a {
    width: 100%;
    background-color: rgba(51, 142, 226, 0.761);
    color: white;
    padding: 5px 11px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: courier;
}

button {
    width: 40%;
    background-color: rgba(51, 142, 226, 0.761);
    /* color: rgb(233, 19, 19); */
    padding: 4px 8px;
    /* margin: 8px 0; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: courier;
    color: white;
}

.editanswerbody {
    width: 30%;
    margin: auto;
}

.fixed-questions {
    height: 60%;
    overflow: auto;
}

.fixed-answers {
    height: 40%;
    overflow: auto;
}

ul.quetions {
    list-style-type: none;
    margin: 0;
    padding: 1%;
}

.answer-body {
    padding-top: 10%;
}

@media (max-width:768px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 15px;
    }
    .user-profile {
        width: 90%;
        margin: auto;
    }
    .questions-div {
        width: 60%;
        text-align: left;
        /* margin: 5px 10% 5px 6%; */
        font-size: 80%;
    }
    .question-content {
        width: 80%;
        text-align: left;
        /* margin: 5px 10% 5px 10%; */
        margin-left: 3%;
    }
    h1 {
        font-size: 1em;
    }
    h4 {
        font-size: 1%;
    }
    .container {
        width: 80%;
        margin: auto;
        padding: 4%;
        font-family: courier;
        /* border: solid; */
        margin-left: 5%;
    }
    .user-profile {
        width: 68%;
        padding-right: 2%;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: inherit;
        padding: 2%;
        background-color: #f2f2f2;
        margin-left: 5%;
    }
    button {
        width: 60%;
        background-color: rgba(51, 142, 226, 0.761);
        /* color: rgb(233, 19, 19); */
        padding: 2px 8px;
        /* margin: 8px 0; */
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: courier;
        color: white;
    }
    .editanswerbody {
        width: 80%;
        margin: auto;
    }
}